/* 학교 공지사항
SchoolNotice */

section h1 {
	padding: 2rem 0;
	margin: 0;
	word-break: keep-all;
	font-weight: bold;
}
section div {
	padding-bottom: 1rem;
}
section div small {
	font-weight: bold;
}
.writeday {
	border-bottom: 1px solid var(--color-footer-navbar-icon);
	justify-content: space-between;
	display: flex;
}
.content {
	padding-top: 1rem;
}
