@import url("../Module/SemesterNav.css");

body section {
	padding: 10rem 0;
	font-family: var(--font-style);
}

.Hakgi {
	border-bottom: 1px solid var(--color-calendar-content-border);
}

table {
	margin: 0 auto;
}

table,
th,
td {
	text-align: center;
	font-size: 14px;
}

#hakgi-num {
	padding-top: 2rem;
	font-size: 1rem;
}

th,
td {
	padding: 6px 4px;
}

.table-title {
	background-color: var(--color-navbar-on-background);
	box-shadow: 0px 1px 3px;
}

#avg {
	font-weight: bold;
	box-shadow: 0px 10px 10px -8px #888;
	background-color: var(--color-semesterpoint-avgtable-background);
}

.total-point {
	text-align: center;
	margin-top: 3rem;
	font-size: 1rem;
}

.total-point span {
	font-size: 1.1rem;
	font-weight: bold;
}
