@import url("../Style.css");

section {
	line-height: 1.6rem;
	padding: 6.2rem 0 5rem 0 !important;
	display: grid;
	grid-gap: 1rem;
	background-color: var(--color-footer-navbar-background);
}

article label {
	padding-bottom: 1rem;
	color: var(--color-menu-title);
	font-weight: bold;
}

article {
	background-color: var(--color-white);
	padding: 0.8rem;
}

.announce-title {
	font-weight: bold;
}

h6 {
	padding-bottom: 0.6rem;
}

.company-info-1,
.company-info-2 {
	display: flex;
	justify-content: space-between;
}

.announce-content,
.article-grid {
	padding-bottom: 1rem;
	word-break: break-all;
}

article .article-grid {
	display: grid;
	grid-template-columns: 80px 1fr;
}

article .article-grid span:nth-child(odd) {
	color: var(--color-jobdetail-span);
}
