:root {
	/* color */
	--color-button-background: linear-gradient(
		135deg,
		#667eea 0%,
		#764ba2 100%
	);
	--color-mainpagelogo-background: linear-gradient(
		180deg,
		#667eea 0%,
		#764ba2 100%
	);
	--color-loginpage-background: linear-gradient(
		135deg,
		#f5f7fa 0%,
		#c3cfe2 100%
	);
	--color-loginform-background: #d7d7d7;
	--color-button-border: #707070;
	--color-menu-title: #764ba2;

	--color-writesearch-icon-background: #080e54;

	--color-footer-navbar-background: #f3f3f3;
	--color-footer-navbar-icon: #cfcfcf;

	--color-navbar-on: #50528e;
	--color-navbar-on-background: #e2e2e2;
	--color-navbar-border: #b4b4b4;

	--color-li-click-background: #eeeeee;

	--color-calendar-th-background: #e4e4e4;
	--color-calendar-content-border: rgba(0, 0, 0, 0.2);

	--color-white: #ffffff;
	--color-black: #000000;
	--color-blue: #3b88c3;
	--color-hoverblue: #79aed6;
	--color-yellow: #fbbe28;
	--color-hoveryellow: #fde198;
	--color-pink: #fd7f84;
	--color-hoverpink: #faafb1;
	--color-light-grey: #dfdfdf;

	/* font-style */
	--font-style: "Noto Sans KR", sans-serif;

	/* width size */
	--width-100: 100%;

	/* height size */
	--height-100: 100%;

	/* size */
	--board-title-font-size: 1.4rem;
	--article-section-base-padding: 5.1rem 1rem 0 1rem;
	--board-li-base-padding: 0.5rem 1rem;
	--board-ul-margin-bottom: 60px;

	--size-button: 60px;

	--font-size-button: 0.8rem;
	--font-size-colorButton: 20px;
	--base-space: 8px;

	/* radius */
	--radius-loginform: 2rem;
}
