#lecture_article {
	width: 90%;
	margin: 0 auto 1rem auto;
}

#lecture_article p {
	text-align: left;
}

#lecture_article span {
	font-weight: bold;
}

table {
	border: 2px solid #dadada;
	border-radius: 4px;
	margin-bottom: 1rem;
}

table tr {
	border-bottom: 1px solid #cfcfcf;
	border-collapse: collapse;
}

table tr td {
	padding: 4px;
}

td:nth-child(1) {
	background-color: #e9e9e9;
	text-align: center;
}

td:nth-child(2) {
	width: 70%;
	padding: 0px 8px;
}
