img {
	width: 100%;
	height: 130px;
	margin-bottom: 1rem;
}

#personal_article button {
	border: 1px solid #cfcfcf;
	border-radius: 8px;
	background-color: #764ba2;
	color: #ffffff;
	font-size: 0.8rem;
	padding: 8px;
	margin: 10px 4px;
}

#personal_article p {
	margin-bottom: 2rem;
	align-items: flex-start;
}

#personal_article p input {
	margin-right: 4px;
}

#personal_article label {
	border: 1px solid #cfcfcf;
	padding: 4px 8px;
	border-radius: 10px;
	margin: 4px 8px;
	color: #000000;
	transition: 0.2s;
	box-shadow: 1px 1px 4px #bbacac;
}

#personal_article label:active {
	background-color: #d6d6d6;
	transition: 0.2s;
}

#personal_article span {
	font-weight: bold;
}

#disagreeInfo {
	display: none;
	color: #ff5858;
	text-align: center;
	word-break: keep-all;
}
