@import url("../Style.css");
/* 시간표 작성중일시 */
.dont-calendar {
	padding-top: 8.6rem;
	text-align: center;
	font-weight: bold;
}

body {
	font-family: var(--font-style);
}

section {
	margin: 8rem 1rem 6rem 1rem;
}

.blinking {
	-webkit-animation: blink 0.8s ease-in-out infinite alternate;
	-moz-animation: blink 0.8s ease-in-out infinite alternate;
	animation: blink 0.8s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-moz-keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.day th {
	height: 30px;
	border: 1px solid var(--color-calendar-content-border);
	background-color: var(--color-calendar-th-background);
}

.show-subject {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	word-break: break-all;
	font-size: 12px;
	padding: 0 4px 10px 4px;
}

.none-subject {
	display: none;
}

.calendar-table {
	text-align: center;
	width: var(--width-100);
	border: 1px solid var(--color-calendar-content-border);
	box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 100%);
}

.calendar-content {
	width: 100px;
}

.schedule-content {
	height: var(--height-100);
	border: 1px solid var(--color-calendar-content-border);
}

#have-schedule-content:active {
	transform: scale(0.98);
}

#calendar-time {
	border: 1px solid var(--color-calendar-content-border);
	width: 50px;
	height: 50px;
}

.subject1 {
	background-color: #b2d0ed;
}
.subject2 {
	background-color: #edcdb2;
}
.subject3 {
	background-color: #bcedb2;
}
.subject4 {
	background-color: #e0daa8;
}
.subject5 {
	background-color: #b2eded;
}
.subject6 {
	background-color: #edb2ca;
}
.subject7 {
	background-color: #edb2ed;
}
.subject8 {
	background-color: #b4e0a8;
}
.subject9 {
	background-color: #e0a8a8;
}
