@import url("../Style.css");

section h4 {
	padding: 1rem 0;
	word-break: normal;
	font-weight: bold;
	font-size: 1.4rem;
}

.writeday {
	padding-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid var(--color-footer-navbar-icon);
}

.writeday i {
	color: var(--color-black);
}

.writeday span small {
	padding-right: 0.5rem;
}

.content {
	padding: 2rem 0;
	font-size: 1.2rem;
}

#delete-confirm {
	background: var(--color-button-background);
	border-color: var(--color-button-border);
}
