@import url("../Style.css");

body section {
	padding: 8rem 0 0 0;
}

section div {
	padding: 1rem;
	border-bottom: 1px solid var(--color-navbar-border);
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--color-job-companyname-color);
}

section div #nickname {
	width: 80%;
	border: var(--color-white);
}

section div .nickname-change {
	background: var(--color-button-background);
	border-color: var(--color-button-border);
	box-shadow: 1px 1px 2px;
	padding: 2px 10px;
	color: var(--color-white);
	border-radius: 8px;
}

#nicknameModalDialog {
	margin-top: 3rem;
}

#nicknameModalBody {
	padding: 2rem 1rem;
}

#nickname-modal-success {
	background: var(--color-button-background);
	border-color: var(--color-button-border);
	color: var(--color-white);
}

section div span {
	float: right;
	font-weight: bold;
	font-size: 1.1rem;
	color: var(--color-black);
}

.logout {
	margin: 2rem 1rem 0 1rem;
}

.logout button {
	width: 100%;
	font-weight: bold;
}
