/* 학부게시판, 학생마당 */
@import url("../Layouts/MainTitleLayout.css");

.menu-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* 게시판 검색 Collapse */
.searchbox {
	border-bottom: 2px solid var(--color-navbar-border);
	background-color: var(--color-footer-navbar-background);
	padding: 0.8rem 1rem 0.8rem 0;
	display: flex;
	justify-content: space-around;
}

.searchbox #search-close {
	width: 10%;
	color: var(--color-navbar-on);
	text-align: center;
	padding-top: 0.5rem;
}

.searchbox #title-content-search {
	border: 0.5px solid var(--color-navbar-on);
	width: 30%;
	box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 50%);
}

.searchbox input {
	width: 50%;
}

/* 게시판, 학생마당 공지 */
#notice-list {
	padding: 10.6rem 0 0 0;
	margin: 0;
}

/* 학생마당 글 목록 */
#enters {
	margin-bottom: var(--board-ul-margin-bottom);
	padding-left: 0;
}

#notice-list h5 div,
#enters h5 div {
	font-size: medium;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#notice-list li,
#enters li {
	border-bottom: 1px solid var(--color-footer-navbar-icon);
	padding: var(--board-li-base-padding);
}

#notice-list li a,
#enters li a {
	color: var(--color-black);
	text-decoration-line: none;
}

.write-day {
	font-size: small;
}

.write-day span {
	padding-right: 0.5rem;
}

#notice-list div :active,
#enters div :active {
	background-color: var(--color-li-click-background);
}
