@import url("../Style.css");

.footer-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: var(--color-footer-navbar-background);
	border-top: 2px solid var(--color-navbar-border);
}

.footer-nav div {
	display: flex;
}

.footer-nav div a {
	flex: 1;
	text-align: center;
	height: 60px;
	color: var(--color-footer-navbar-icon);
}

.footer-nav div a i:active {
	transform: scale(0.92);
}

.footer-nav div a label {
	padding-top: 5px;
	display: block;
	font-size: 0.5rem;
	font-family: var(--font-style);
}

.footer-nav div a.on {
	color: var(--color-navbar-on);
	background-color: var(--color-navbar-on-background);
}

.footer-nav div > small {
	position: absolute;
	bottom: 57px;
	width: 20%;
	height: 5px;
	background-color: var(--color-navbar-on);
	transition: all 0.3s;
}

.footer-nav div a:nth-child(1).on ~ small {
	opacity: 1;
	left: 0%;
}

.footer-nav div a:nth-child(2).on ~ small {
	opacity: 1;
	left: 20%;
}

.footer-nav div a:nth-child(3).on ~ small {
	opacity: 1;
	left: 40%;
}

.footer-nav div a:nth-child(4).on ~ small {
	opacity: 1;
	left: 60%;
}

.footer-nav div a:nth-child(5).on ~ small {
	opacity: 1;
	left: 80%;
}
