@import url("../Module/NavBar1.css");
@import url("../Module/NavBar2.css");

.menu-title {
	margin: 0;
	padding: 2.3rem 0 1rem 0;
	background-color: var(--color-menu-title);
	border-bottom: 1px solid var(--color-button-border);
	color: var(--color-white);
	font-size: 1.4rem;
	text-align: center;
	font-weight: bold;
}

.community-body {
	font-family: var(--font-style);
}

.community-home {
	text-align: center;
	background-image: var(--color-mainpagelogo-background);
}

.community-logo-img {
	padding-top: 5rem;
}

.community-logo-img img {
	border-radius: 18px;
}

.menu-title a {
	height: 2.2rem;
	width: 2.2rem;
	color: var(--color-white);
	background-color: var(--color-writesearch-icon-background);
	border-radius: 50%;
	position: relative;
	float: right;
	box-shadow: 3px 3px 3px 0px rgb(0 0 0 / 50%);
}

.menu-title a:active {
	transform: scale(0.97);
}

.menu-title a i {
	position: absolute;
	top: 25%;
	right: 22%;
}

.menu-title .search-button {
	margin-left: 1rem;
}

.menu-title .write-button {
	margin-right: 1rem;
}

.title.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.title {
	position: absolute;
	width: 100%;
}
