@import url("./MenuTitle.css");
section {
	padding: var(--article-section-base-padding);
	font-family: var(--font-style);
}
header h3 a i {
	float: left;
	padding-left: 1rem;
	color: var(--color-white);
}
header h3 span {
	display: table-cell;
	vertical-align: middle;
	padding-right: 2.2rem;
}
