@import url("../Style.css");
.notice-title {
	display: table;
	position: fixed;
	top: 0;
	width: var(--width-100);
	margin: 0;
	padding-top: 2.3rem;
	padding-bottom: 1rem;
	text-align: center;
	background-color: var(--color-menu-title);
	border-bottom: 1px solid var(--color-button-border);
	font-size: 24px;
	font-weight: bold;
	font-family: var(--font-style);
	color: var(--color-white);
}
