@import url("./MenuTitle.css");
header {
	margin: 0;
}
section {
	padding: 5.5rem 1rem 0 1rem;
	font-family: "Noto Sans KR", sans-serif;
}
header h3 a i {
	display: inline-block;
	height: 19px;
	float: left;
	padding-top: 0.5rem;
	padding-left: 1rem;
	color: #fff;
}
header h3 span {
	display: inline-block;
	float: none;
	padding-right: 2.2rem;
}
