/* KOREAIT 커뮤니티 HOME.blade */
@import url("../Layouts/MainTitleLayout.css");

.menu-title {
	display: table;
	width: 100%;
}

.menu-title span {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	padding-left: 3rem;
}

.list-group {
	padding-top: 8rem;
	margin-bottom: var(--board-ul-margin-bottom);
}

.list-group .list {
	border-bottom: 1px solid var(--color-footer-navbar-icon);
}

.list-group a {
	color: var(--color-black);
	text-decoration-line: none;
}

.list-group li {
	padding: var(--board-li-base-padding);
}

.list-group .notice-list-title div {
	font-size: medium;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.write-day {
	font-size: small;
}

.list :active {
	background-color: var(--color-li-click-background);
}
